[Unit]
Description=pekofy_bot\x27s systemd service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=bemxio
WorkingDirectory=/home/bemxio/discord-pekofy-bot
EnvironmentFile=/home/bemxio/.env
ExecStart=/usr/bin/python3 /home/bemxio/discord-pekofy-bot/bot.py

[Install]
WantedBy=multi-user.target