[Unit]
Description=pekofy_bot's systemd service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=bemxio
WorkingDirectory=/home/bemxio/discord-pekofy-bot
EnvironmentFile=/home/bemxio/discord-pekofy-bot/.env
ExecStart=/home/bemxio/discord-pekofy-bot/.venv/bin/python3 /home/bemxio/discord-pekofy-bot/bot.py

[Install]
WantedBy=multi-user.target